<%- include('rawHeader.ejs') %>
<div class=" max-w-4xl p-3 bg-white shadow-lg mx-auto mt-4">
  <!-- Group 1 -->
  <div class="grid grid-cols-[40%,60%] gap-0">
    <!-- Section Présentation -->
    <div
      class="bg-gray-500 text-black p-4 flex flex-col gap-y-3 justify-center"
    >
      <div class="flex w-full justify-between items-center">
        <% if (typeof img === 'string') { %>
         <img src="<%= img %>" alt="profile image" class=" w-28 h-28 rounded-full object-cover">
        <% } %>
        <h1 class="text-4xl font-bold text-neutral-900 relative"><%= fullName %></h1>
      </div>
      <div class="w-16 h-[2px] bg-black"></div>
      <div class="mt-4 flex flex-col gap-y-4 p-4">
        <div class="flex gap-x-6 items-center font-bold">
          <img
            src="/static/SVG/envelopeN.svg"
            class="w-8 h-8 p-1 object-contain bg-white rounded-full flex"
            alt=""
          />
          <%= email %>
        </div>

        <div class="flex gap-x-6 items-center font-bold">
          <img
            src="/static/SVG/phone.svg"
            class="w-8 h-8 p-1 object-contain bg-white rounded-full flex"
            alt=""
          />
          <%= phoneNumber %>
        </div>

        <div class="flex gap-x-6 items-center font-bold">
          <img
            src="/static/SVG/location-dot.svg"
            class="w-8 h-8 p-1 object-contain bg-white rounded-full flex"
            alt=""
          />
          <%= location %>
        </div>

        <div class="flex gap-x-6 items-center font-bold">
          <img
            src="/static/SVG/calendar.svg"
            class="w-8 h-8 p-1 object-contain bg-white rounded-full flex"
            alt=""
          />
          <%= birthday %>
        </div>
      </div>
    </div>
    <!-- Profile container -->
    <div class=" p-8 bg-gray-300">
      <!-- Section profile -->
      <h1 class="text-2xl font-bold text-neutral-900 mt-12">Profile</h1>
      <p>
        <%= profile %>
      </p>
    </div>
  </div>
  <!-- Group 2 -->
  <div class="grid grid-cols-[40%,60%] gap-0">
    <div class="bg-gray-300 text-black p-4 flex flex-col gap-y-3">
      <!-- Section compétences -->
      <h1 class="text-2xl font-bold text-neutral-900 mb-4 text-center">Compétences</h1>
      <ul class=" list-disc flex flex-col ml-8 gap-y-4 mb-4">
        <% skills.forEach(skill => { %>
         <li><%= skill %></li>
        <% }) %>
      </ul>
      <!-- Section formations -->
      <h1 class="text-2xl font-bold text-neutral-900 mb-4 text-center">Formations</h1>

      <% formations.forEach(formation => { %>
       <div class="flex flex-col gap-y-1 mb-2">
         <h3 class=" font-bold"><%= formation.title %></h3>
         <p> <%= formation.description %> : <%= formation.date %></p>
       </div>
      <% }) %>
    </div>
    <div class="bg-white text-black p-4 flex flex-col gap-y-3 ">
      <h1 class="text-2xl font-bold text-neutral-900 mb-4 text-center">Expérience</h1>
      <% experience.forEach(el => { %>
       <div class="flex flex-col gap-y-4 mb-2">
        <h3 class=" text-center text-lg font-bold"><%= el.title %></h3>
        <% if (typeof el.contents !== 'undefined') { %>
         <ul class=" flex flex-col justify-center list-disc items-center w-[90%] mx-auto gap-y-3">
          <% el.contents.forEach(content => { %>
           <li class=" flex gap-x-4">
            <span><span class=" font-bold">- </span><%= content.description %> :</span>
            <span><%= content.duration %></span>
           </li>
          <% }) %>
         </ul>
        <% } %>
      </div>
      <% }) %>
      <!-- Section centres d'intérets -->
      <h1 class="text-2xl font-bold text-neutral-900 mb-4 text-center">Centres d'intéret</h1>
      <ul class=" list-disc flex flex-col mx-auto w-[70%] gap-y-4 mb-4">
        <% interest.forEach(el => { %>
         <li><%= el %></li>
        <% }) %>
      </ul>

      <!-- Section langues -->
      <h1 class="text-2xl font-bold text-neutral-900 mb-4 text-center">Langues</h1>
      <ul class=" list-disc flex flex-col mx-auto w-[70%] gap-y-4 mb-4">
        <% languages.forEach(language => { %>
         <li class=" flex flex-col gap-2">
          <h3 class=" font-bold"><%= language.title %></h3>
          <div class=" w-full h-[6px] rounded-lg bg-gray-300">
            <div class=" h-full bg-gray-500 rounded-lg <%= language.css %>"></div>
          </div>
          <span class=""><%= language.level %></span>
         </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<%- include('rawFooter.ejs') %>