<%- include('rawHeader.ejs', {title: fullName, desc: profile, preview: img ? img : undefined }) %> 
<% if (typeof mode === 'string' && mode === 'view') { %>
  <%- include('cvModal.ejs') %>
<% } %>
<div
  class="bg-gradient-to-r <%= cvTheme.gradient %> <%= cvTheme.text %> flex w-[49.6rem] min-h-[52.6rem] mx-auto border rounded-md justify-center mb-4 mt-4 p-2"
>
  <div class="bg-transparent rounded-lg shadow-lg w-full">
    <div class="flex items-center mb-6 <%= cvTheme.bg %> p-3 rounded-md">
      <% if (typeof img === 'string') { %>
      <img
        src="<%= img %>"
        alt="<%= fullName %>"
        class="rounded-full w-24 h-24 mr-4 object-cover"
      />
      <% } %>
      <div class="flex flex-col gap-y-2">
        <h1 class="text-2xl font-bold"><%= fullName %></h1>
        <h1 class=" font-bold"><%= email %></h1>
        <h1 class=" font-bold"><%= phoneNumber %></h1>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div class="p-3 <%= cvTheme.bg %> rounded-md">
        <h2 class="text-lg font-bold mb-2">Profil</h2>
        <p><%= profile %></p>
      </div>
      <div class="p-3 <%= cvTheme.bg %> rounded-md">
        <h2 class="text-lg font-bold mb-2">Compétences</h2>
        <ul class="list-disc pl-5">
          <% skills.forEach(skill => { %>
          <li><%= skill %></li>
          <% }) %>
        </ul>
      </div>
      <div class="p-3 <%= cvTheme.bg %> rounded-md">
        <h2 class="text-lg font-bold mb-2">Éducation</h2>
        <% formations.forEach(formation => { %>
        <div class="mb-4">
          <h3 class="font-bold"><%= formation.title %></h3>
          <p><%= formation.date %></p>
          <p><%= formation.description %></p>
        </div>
        <% }) %>
      </div>
      <div class="p-3 <%= cvTheme.bg %> rounded-md">
        <h2 class="text-lg font-bold mb-2">Expérience</h2>
        <% experience.forEach(el => { %>
         <div class="mb-4">
            <h3 class="font-bold"><%= el.title %></h3>
            <% if (typeof el.contents !== 'undefined') { %>
              <% el.contents.forEach(element => { %>
               <p>Nom de la compagnie</p>
              <% }) %>
            <% } %>
         </div>
        <% }) %>
      </div>
    </div>
    <div class="mt-8 p-3 rounded-md <%= cvTheme.bg %>">
      <h2 class="text-lg font-bold mb-2">Langues</h2>
      <div class="grid grid-cols-3 gap-x-2 gap-y-4">
        <% languages.forEach(language => { %>
        <div class="w-full">
          <p class="font-bold"><%= language.title %></p>
          <div class="bg-gray-300 h-2 rounded-full">
            <div
              class="<%= cvTheme.level %> h-2 rounded-full <%= language.css %>"
            ></div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% if (typeof mode === 'string' && mode === 'view') { %>
  <script type="module" src="/static/script/cvMode.js"></script>
<% } %>
<%- include('rawFooter.ejs') %>
