<% if (typeof mode === 'string' && mode === 'view' ) { %>
 <%- include('rawHeader.ejs', {desc: comment.content, title: comment.author, preview: comment.file ? comment.file : undefined}) %>
<% } %>
<div
  class="w-[98%] lg:w-[80%] p-3 bg-gray-950 my-4 rounded-lg mx-auto"
  id="feed"
  data-index="<%= comment.id %>"
  data-pointer="<%= comment.isAnActu ? 'actu' : 'comment' %>"
>
  <div class="flex w-full gap-x-4 items-center p-3">
    <img
      src="<% if (typeof comment.userIcon === 'undefined') { %>/static/SVG/user.svg <% } else { %> <%= comment.userIcon %> <% } %>"
      class="w-8 h-8 rounded-full"
      alt="user profil"
    />
    <span class="text-white font-bold"><%= comment.author %></span>
    <span class="text-white"><%= comment.time %></span>
  </div>
  <span class="font-bold w-full block">
    <%= comment.content %>
  </span>
  <a href="<%= comment.file %>" class="w-full">
    <img
      src="<%= coment.file %>"
      alt=""
      class="w-full object-cover h-auto mt-3 rounded-lg"
    />
  </a>
  <div class="flex w-full justify-between mt-4 p-3">
    <div id="reactions" class="flex gap-x-4 relative">
      <div
        id="reactionControl"
        class="absolute flex gap-x-6 bg-transparent shadow-xl lg:left-0 lg:bottom-4 bottom-12 -left-4 z-50 hide-reactions p-3"
      >
        <div class="hover:cursor-pointer hover:scale-100 transition-all">
          <i class="fa-solid fa-heart fa-xl text-red-600"></i>
        </div>
        <div class="hover:cursor-pointer hover:scale-100 transition-all">
          <i class="fa-regular fa-thumbs-down fa-xl text-white"></i>
        </div>
        <div class="hover:cursor-pointer hover:scale-100 transition-all">
          <i class="fa-solid fa-xl fa-face-laugh-squint text-orange-400"></i>
        </div>
        <div class="hover:cursor-pointer hover:scale-[1] transition-all">
          <i class="fa-regular fa-thumbs-up fa-xl text-white"></i>
        </div>
      </div>
      <div class="flex">
        <% comment.reactionsEls.forEach(element => { %> <%- element %> <% }) %>
      </div>
      <span class="text-white"> <%= comment.reactionsLength %> reactions</span>
    </div>
    <span class="text-white font-bold">
      <%= comment.commentsLength %> comments</span
    >
  </div>
  <%- include('comment', {pointerType: comment.isAnActu? 'actu' : 'comment', replies: comment.replies, pointer: comment.id, userIcon: comment.userIcon }) %>
</div>
<% if (typeof mode === 'string' && mode === 'view' ) { %>
 <%- include('rawFooter.ejs') %>
<% } %>
<script nonce="<%= locals.cspNonce %>">
  document.querySelector('#reactions').addEventListener('mouseenter', (e) => {
    e.preventDefault();
    document
      .querySelector('#reactionControl')
      .classList.remove('hide-reactions');
    document.querySelector('#reactionControl').classList.add('show-reactions');
  });
  document.querySelector('#reactions').addEventListener('mouseleave', (e) => {
    e.preventDefault();
    document
      .querySelector('#reactionControl')
      .classList.remove('show-reactions');
    document.querySelector('#reactionControl').classList.add('hide-reactions');
  });
</script>
