<div
  data-index="<%= index %>"
  id="list"
  class="lg:w-5/6 w-11/12 mx-auto p-3 text-white justify-center items-center bg-gray-950 rounded-lg py-6 my-5"
>
  <div class="flex justify-between items-center w-full p-2">
    <h1 class="text-white font-bold text-2xl">List</h1>
    <div id="listAdd">
      <i
        class="fa-regular fa-square-plus fa-xl text-white hover:cursor-pointer"
      ></i>
    </div>
  </div>
  <% if (Array.isArray(data)) { %>
    <% data.forEach(element => { %>
      <div id="<%= data.section %>" class="lst-component w-full flex flex-col gap-y-3">
        <div
          data-index="1"
          class="vl-parent flex justify-between w-full items-center mt-4 lg:p-3 p-2"
        >
          <div class="w-4 h-4 rounded-full bg-white hidden lg:block"></div>
          <div class="flex flex-col gap-y-3 lg:w-9/12 w-[90%]">
            <input
              type="text"
              id="listElement"
              placeholder="Element"
              class=" bg-transparent p-2 text-white font-bold w-full"
              value="<%= data.item %>"
            />
            <textarea
              id="listElementContent"
              placeholder="Description..."
              class="text-gray-950 w-full max-sm:mx-auto p-2 lg:h-24 h-20 placeholder:text-gray-950 rounded-sm"
            ><%= data.description %></textarea>
          </div>
          <div id="listRemoveBtn">
            <i
              class="fa-solid fa-square-xmark fa-xl font-bold text-white hover:cursor-pointer"
            ></i>
          </div>
        </div>
      </div>
    <% }) %>
  <% } else { %>
  <div id="<%= id %>" class="lst-component w-full flex flex-col gap-y-3">
    <div
      data-index="1"
      class="vl-parent flex justify-between w-full items-center mt-4 lg:p-3 p-2"
    >
      <div class="w-4 h-4 rounded-full bg-white hidden lg:block"></div>
      <div class="flex flex-col gap-y-3 lg:w-9/12 w-[90%]">
        <input
          type="text"
          id="listElement"
          placeholder="Element"
          class=" bg-transparent p-2 text-white font-bold w-full"
        />
        <textarea
          id="listElementContent"
          placeholder="Description..."
          class="text-gray-950 w-full max-sm:mx-auto p-2 lg:h-24 h-20 placeholder:text-gray-950 rounded-sm"
        ></textarea>
      </div>
      <div id="listRemoveBtn">
        <i
          class="fa-solid fa-square-xmark fa-xl font-bold text-white hover:cursor-pointer"
        ></i>
      </div>
    </div>
  </div>
  <% } %>
</div>
