<div class="flex flex-col mt-6 p-4 gap-y-4 w-full">
    <% replies.forEach(reply => { %>
    <a
      class="flex w-full lg:gap-x-4 justify-between"
      data-index="<%= reply.id %>"
      href="<%= reply.url ? reply.url : `/feed/${reply.id}` %>"
    >
      <img
        src="<% if (typeof reply.userIcon === 'undefined') { %>/static/SVG/user.svg <% } else { %> <%= reply.userIcon %> <% } %>"
        class="w-8 h-8 rounded-full mt-3"
        alt="user profil"
      />
      <div class="p-3 bg-gray-950 text-white rounded-lg w-full flex flex-col">
        <span class="mb-3 w-full flex justify-between items-center">
          <span class="text-orange-500 font-bold"><%= reply.author %></span>
          <%= reply.time %>
        </span>
        <span class="font-bold"> <%= reply.content %> </span>
        <% if (typeof reply.file !== 'undefined') { %>
        <img src="<%= reply.file %>" alt="" class="w-full h-auto rounded-lg" />
        <% } %>
        <div class="w-full flex mt-4 justify-between">
          <div id="reactions" class="flex gap-x-4">
            <i class="fa-regular fa-thumbs-up fa-lg -ml-1 text-white"></i>
            <span class="text-white"
              ><%= reply.reactionsLength %> reactions</span
            >
          </div>
          <span class="text-white font-bold"
            ><%= reply.commentsLength %> comments</span
          >
        </div>
      </div>
    </a>
    <% }) %>
  </div>