<%- include('../header') %> 
<div
  id="container"
  class="w-full overflow-y-scroll bg-gray-950 text-white p-4"
  style="height: 100vh"
>
  <div id="userUpdatePanel" class="fixed transUpdatePanelHide rounded-md transition-all top-[25%] lg:w-[40%] w-[80%] lg:left-[30%] left-[10%] shadow-lg bg-gray-800 text-white h-[25rem] z-40">
    <div class="flex w-full justify-between p-2">
      <div></div>
      <div id="closeUserUpdatePanel" class=" z-50 cursor-pointer">
        <i class="fa-solid fa-xmark fa-2xl text-white"></i>
      </div>
    </div>
    <h1 class="font-bold text-xl relative -top-8 text-center">Modify your profile</h1>
    <form class="flex w-full flex-col gap-y-2 p-2 relative bottom-4" id="submitUserProfileModifications">
      <span class=" font-bold">User name</span>
      <input type="text" name="username" id="userNamePrint" class=" outline-none p-3 placeholder:text-gray-500 w-full bg-gray-950 rounded-lg" placeholder="change your username">
      <span class=" font-bold">Bio</span>
      <input type="text" name="bio" id="bioInput" class=" outline-none p-3 placeholder:text-gray-500 w-full bg-gray-950 rounded-lg" placeholder="update your bio">
      <span class=" font-bold">Link</span>
      <input type="text" name="link" id="linkInput" class=" outline-none p-3 placeholder:text-gray-500 w-full bg-gray-950 rounded-lg" placeholder="add a link to your profile">
      <input type="submit" value="Update" id="userUpdateSubmitionBtn" class="btn text-white bg-gray-950">
    </form>
  </div>

  <div id="notificationPanel" class="fixed transNotificationHide  rounded-md transition-all top-[25%] lg:w-[40%] w-[80%] lg:left-[30%] left-[10%] shadow-lg bg-gray-800 text-white h-[25rem] overflow-y-scroll z-40">
    <div class="flex w-full justify-between p-2">
      <div></div>
      <div id="closeNotificationPane" class=" z-50 cursor-pointer">
        <i class="fa-solid fa-xmark fa-2xl text-white"></i>
      </div>
    </div>
    <h1 class="font-bold text-xl relative -top-8 text-center">Notifications</h1>
    <div class="w-full flex flex-col gap-y-1.5 p-1">
      <!-- notification content -->
      <div class=" flex w-full justify-between p-2 rounded-md bg-gray-950 text-white">
        <div class="flex flex-col gap-y-2">
          <h2 class=" line-clamp-1 font-bold">Notification title here</h2>
          <p class=" line-clamp-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sed necessitatibus nam eius, inventore ducimus.</p>
        </div>
        <div class="flex flex-col gap-y-2">
          <div id="notificationOptions" class="text-end cursor-pointer">
            <i class="fa-solid fa-xl fa-ellipsis-vertical text-white"></i>
          </div>
          <span class=" text-orange-500">now</span>
        </div>
      </div>
      <!-- notification end -->
    </div>
  </div>
  <div class="w-full lg:w-[95%] mx-auto mt-24">
    <input
      type="file"
      name="profileUpdate"
      id="profileUpdateInput"
      class="hidden"
    />
    <div class="w-full gap-y-4 flex-col lg:flex-row flex justify-between lg:items-center">
      <div class="flex items-center gap-x-1 lg:w-[60%] w-full">
        <div class="relative">
          <img
            src="<%= typeof userFile !== 'undefined' ? userFile : '/static/SVG/user.svg' %>"
            class="w-16 h-16 object-cover border-2 border-orange-500 rounded-full p-1 cursor-pointer"
            alt=" user profile"
            id="userProfileImg"
          />
          <i class="fa-solid fa-pen text-orange-500 left-11 top-8 absolute"></i>
        </div>
        <div class=" ml-2 flex flex-col gap-y-0.5 w-[70%] lg:w-auto">
          <h2 data-id="<%= userId %>" class="text-orange-500 font-bold bg-transparent text-lg" id="userIdDataSet" ><%= user %></h2>
          <% if (typeof bio === 'string')  { %>
           <span><%= bio %></span>
          <% } %>
          <% if (typeof link === 'string') { %>
           <a class="flex text-orange-500 font-bold items-center gap-x-0.5 line-clamp-2 hover:underline" href="<%= link %>" target="_blank" rel="noopener noreferrer">>
              <i class="fa-solid fa-link text-orange-500"></i>
              <%= link %>
            </a>
          <% } %>
        </div>
      </div>

      <div class="flex items-center lg:gap-x-4 w-full lg:w-auto justify-between lg:justify-normal">
        <div id="editProfileBtn" class=" cursor-pointer p-1.5 text-white border border-orange-500 rounded-lg flex gap-x-2 font-bold items-center">
          <i class="fa-solid fa-pen text-white"></i>
          Edit your profile
        </div>
        <div class="cursor-pointer indicator" id="notificationShower">
          <span class="indicator-item badge badge-secondary bg-red-400 rounded-full p-2 left-3 relative">99+</span>
          <i class="fa-solid fa-bell fa-xl text-white"></i>
        </div>
      </div>
    </div>
    <h1 class="mt-4 font-bold">Services</h1>
    <div class="mt-4 flex lg:flex-row flex-col gap-y-3 gap-x-6">
      <a href="/service?service=poster&userId=<%= userId %>">
        <div
          class="border-2 border-orange-500 rounded-lg p-3 w-[98%] lg:w-80 h-40 bg-transparent text-white flex flex-col gap-y-3"
        >
          <h2 class="font-bold">Poster</h2>
          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Statut: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.service.Platform.internals === 'boolean' && assets.service.Platform.internals === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= 'spinned down' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div>
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Credits: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.posterCredits === 'number' && assets.posterCredits >= 150) { %>
                <%= assets.posterCredits %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= assets.posterCredits %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Subscription: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.registered === 'boolean' && assets.registered === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= 'locked' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>
        </div>
      </a>

      <a href="/cvMaker">
        <div
          class="border-2 border-orange-500 rounded-lg p-3 w-[98%] lg:w-80 h-40 bg-transparent text-white flex flex-col gap-y-3"
        >
          <h2 class="font-bold">CVMaker</h2>
          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Statut: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.service.Platform.internals === 'boolean' && assets.service.Platform.internals === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= 'spinned down' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Credits: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.cvCredits === 'number' && assets.cvCredits >= 150) { %>
                <%= assets.cvCredits %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= assets.cvCredits %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Subscription: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.registered === 'boolean' && assets.registered === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= 'locked' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>
        </div>
      </a>

      <% if (typeof assets.apiAccess === 'boolean' && assets.apiAccess === true) { %>
       <a href="#">
        <div
          class="border-2 border-orange-500 rounded-lg p-3 w-[98%] lg:w-80 h-40 bg-transparent text-white flex flex-col gap-y-3"
        >
          <h2 class="font-bold">APIs</h2>
          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Statut: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.service.Platform.API === 'boolean' && assets.service.Platform.API === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div>
              <% } else { %>
                <%= 'spinned down' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div>
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Credits: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.apiCredits === 'number' && assets.apiCredits >= 150) { %>
                <%= assets.apiCredits %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= assets.apiCredits %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>

          <div class="flex w-full gap-x-6">
            <span class="text-orange-500 font-bold">Subscription: </span>
            <div class="flex gap-x-3 items-center">
              <% if (typeof assets.registered === 'boolean' && assets.registered === true) { %>
                <%= 'active' %>
                <div class="w-3 h-3 rounded-full bg-green-700"></div> 
              <% } else { %>
                <%= 'locked' %>
                <div class="w-3 h-3 rounded-full bg-orange-500"></div> 
              <% } %>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>

    <h1 class="mt-4 font-bold">Your posts</h1>

    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-4 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <% if (userPosts.length <= 0) { %>
       <div class=" w-full flex justify-center items-center my-4">
        <span class=" text-white font-bold">Vous ne disposez d'aucun post pour l'instant... Pensez à en <a href="/poster/new?service=poster" class=" text-orange-500">Créer</a></span>
       </div>
      <% } %>
      <% userPosts.forEach(article => { %>
      <article
        id="articleToFetch"
        data-id="<%= article.id %>"
        data-url="<%= article.url %>"
        class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s] shadow-gray-700/25"
      >
        <div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6 dark:bg-gray-900">
          <time
            datetime="2022-10-10"
            class="block text-xs text-gray-500 dark:text-gray-400"
          >
            <%= article.createdAt %>
          </time>

          <a href="#">
            <h3
              class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white"
            >
              <%= article.title %>
            </h3>
          </a>

          <div class="mt-4 flex flex-wrap gap-1">
            <% article.slugs.forEach(slug => { %>
            <span
              class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100"
            >
              <%= slug %>
            </span>
            <% }) %>
          </div>
        </div>
      </article>
      <% }) %>
    </div>

    <h1 class="mt-4 font-bold">Activity</h1>
    <hr class=" w-full mt-3">
    <div class=" w-full mx-auto p-3 gap-y-6 grid grid-cols-1 lg:grid-cols-3 lg:mx-0 lg:gap-x-2">
      <a href="#" class="w-full rounded-md flex flex-col gap-y-2 p-1 border-orange-500 border justify-center items-center">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem non delectus error nobis a soluta quam quo nisi voluptate?</span>
        <img src="/static/img/random1.png" alt="content image" class="rounded-md w-full h-32 lg:h-64 object-cover">
      </a>
    </div>
  </div>
</div>
<%- include('../script') %>
<script type="module" src="/static/script/auth.js"></script>
<script type="module" src="/static/script/user.js"></script>
</body>
</html>