<%- include('header', {title: 'Ghostify | Meta hub', desc: 'Join the community now to publish articles, posts and actuality in a large hub of diversified subjects'}) %>
<div
  id="container"
  class="dp w-full bg-gradient-to-tr from-gray-900 to-blue-500"
>
  <% if (typeof auth === 'undefined' || auth === false) { %>
  <div class="w-[95%] flex justify-between lg:pt-16 p-4 pt-28">
    <div></div>
    <a
      href="/signin?service=poster&defaultRoot=true"
      class="bg-gray-900 right-4 top-24 rounded-md lg:border-none border border-white lg:border-transparent font-bold text-white text-center p-2"
      >Se connecter</a
    >
  </div>
  <% } %>

  <% if (typeof auth !== 'undefined' && auth === true) { %>
  <a
    href="#firstHeadElement"
    id="actuAction"
    class="p-3 translate-x-[140%] z-50 flex transition-all justify-center items-center rounded-full bg-orange-500 fixed top-1/4 right-4"
  >
    <i class="fa-solid fa-angle-up fa-xl text-white"></i>
  </a>
  <% } %>

  <h1
    id="firstHeadElement"
    class="anton-sc-regular mx-auto pt-20 text-center lg:pt-24 text-white p-2"
    style="font-size: 40px"
  >
    <%= __('meta').firstH %>
  </h1>

  <% if (typeof auth !== 'undefined' && auth === true) { %>
   <div class=" w-[90%] mx-auto my-4 lg:w-[60%]">
      <%- include('components/comment.ejs', {pointerType: 'user', pointer: userId, userIcon, auth}) %>
    </div>
  <% } %>

  <div class=" w-[90%] flex flex-col gap-y-2 mx-auto lg:w-[60%]">
    <% actues.forEach(actue => { %>
      <%- include('components/feed.ejs', {comment: actue, userIcon, auth}) %>
    <% }) %>
  </div>

  
<%- include('footer', {linear: 'bg-gradient-to-tr', from:'from-gray-900', to: 'to-blue-500', text: 'text-white', title:'text-gray-400'}) %>
</div>
<script type="module" src="/static/js/actu.js"></script>
<%- include('script') %>
