<%- include('header') %>
<div
  id="container"
  class="w-full bg-gradient-to-br from-green-400 via-blue-400 to-purple-500 text-white"
>
  <div
    class="pt-28 flex w-[95%] flex-col lg:flex-row gap-y-2 justify-between mx-auto"
  >
    <h1 class="font-bold text-gray-700 text-2xl"><%= __('game').intro %></h1>
    <% if (typeof auth === 'undefined' || auth === false) { %>
    <a
      href="/signin?service=poster"
      class="bg-transparent rounded-md border-white border font-bold text-white text-center p-2"
      >Connexion</a
    >
    <% } %>
  </div>
  <% if (apps.length <= 0){ %>
  <p class="lg:ml-4 text-center ml-0 lg:text-start mt-4 font-bold">
    <%= __('game').emptyApps %>
  </p>
  <% } %>
  <div
    class="lg:grid lg:grid-cols-[70%,30%] flex flex-col-reverse w-[98%] mx-auto p-3 lg:gap-x-4 gap-y-4"
  >
    <div
      id="apps"
      class="w-full grid lg:grid-cols-8 grid-cols-3 gap-y-4 gap-x-8"
    >
      <% apps.forEach(app => { %>
      <div class="flex flex-col gap-y-2">
        <div
          class="lg:p-3 p-2 rounded-lg w-full lg:h-20 h-12 bg-gradient-to-r from-red-500 via-yellow-600 to-blue-700"
        >
          <img
            src="<%= app.icon %>"
            alt=""
            class="object-contain w-full h-full"
          />
        </div>
        <p class="font-bold text-center text-gray-700"><%= app.title %></p>
      </div>
      <% }) %>
    </div>
    <div
      class="flex lg:flex-col flex-row lg:h-[100vh] lg:overflow-y-scroll gap-x-3 lg:gap-y-3 w-full overflow-x-scroll p-2"
    >
      <% if (modules.length <= 0){ %> <%= __('game').empty %> <% } %> <%
      modules.forEach(module => { %>
      <div
        class="lg:w-full w-[80%] max-h-64 lg:h-auto rounded-lg lg:p-3 p-2 bg-gray-950 text-white flex flex-col gap-y-3 relative flex-none overflow-y-scroll"
      >
        <h3 class="font-bold w-[90%]"><%= module.description %></h3>
        <a class="text-orange-400" href="<%= module.url %>"
          ><%= __('game').ressource %></a
        >
        <div
          id="codeBlockApi"
          class="w-full p-3 bg-gray-800 rounded-lg relative font-bold text-white"
        >
          <% module.scripts.forEach(script => { %> <%= script %> <br />
          <% }) %>
        </div>
        <i
          class="fa-solid fa-terminal fa-lg absolute text-orange-400 top-4 right-4"
        ></i>
      </div>
      <% }) %>
    </div>
  </div>

  <%- include('footer', {linear: 'bg-gradient-to-br', from: 'from-green-400',
  to: 'via-blue-400 to-purple-500', text: 'text-white', title: 'text-gray-700'})
  %>
</div>
<script type="module" src="/static/script/game.js"></script>
<%- include('script') %>
