<%- include('header') %>
<div
  id="container"
  class="dp w-full bg-gradient-to-tr from-gray-900 to-blue-500"
>
  <% if (typeof auth === 'undefined' || auth === false) { %>
  <div class="w-[95%] flex justify-between lg:pt-16 p-4 pt-28">
    <div></div>
    <a
      href="/signin?service=poster&defaultRoot=true"
      class="bg-gray-900 right-4 top-24 rounded-md lg:border-none border border-white lg:border-transparent font-bold text-white text-center p-2"
      >Se connecter</a
    >
  </div>
  <% } %>
  <div
    id="actuFormDiv"
    class="fixed top-[20%] lg:left-[10%] left-[5%] lg:w-3/4 w-[90%] lg:h-[30rem] h-[45rem] overflow-y-scroll p-4 rounded-md bg-gray-950 text-white font-bold transition-all -translate-y-[300%] z-[900]"
  >
    <form id="actuForm">
      <div class="mb-4">
        <div class="flex justify-between mb-3 items-center">
          <label class="mb-2.5 block text-black font-bold dark:text-white"
            >Poster une actu dans le Hub</label
          >
          <div id="actuCloser" class="text-center text-white">
            <i class="fa-solid fa-circle-xmark fa-2xl"></i>
          </div>
        </div>
        <div class="relative">
          <input
            type="text"
            name="title"
            placeholder="Donnez un titre à votre actu"
            class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
          />
        </div>
      </div>

      <div class="mb-6">
        <div class="relative">
          <textarea
            name="content"
            class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
            id="actuContent"
            placeholder="Tapez le contenu de votre actu"
          ></textarea>
        </div>
      </div>

      <div id="imgInput" class="mb-6">
        <input
          id="fileInput"
          name="img"
          accept="image/*"
          type="file"
          class="w-full hidden rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
        />
        <div class="flex gap-x-3">
          <div id="addFile">
            <i class="fa-solid fa-cloud-arrow-up fa-2xl text-white"></i>
          </div>
          <label for="" id="fileName">Ajoutez un fichier</label>
        </div>
      </div>

      <div class="w-full overflow-y-scroll h-auto" id="imgPrintDiv"></div>

      <div id="actuBtnInput" class="mb-5">
        <input
          type="submit"
          value="Soumettre"
          class="w-full transition-all hover:text-gray-950 hover:bg-white cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white hover:bg-opacity-90"
        />
      </div>
    </form>
  </div>

  <% if (typeof auth !== 'undefined' && auth === true) { %>
  <div
    id="actuAction"
    class="p-3 translate-x-[140%] z-50 flex transition-all justify-center items-center rounded-full bg-blue-900 fixed top-1/4 right-4"
  >
    <i class="fa-solid fa-circle-plus fa-xl text-white"></i>
  </div>
  <% } %>

  <h1
    class="anton-sc-regular mx-auto pt-20 text-center lg:pt-24 text-white p-2"
    style="font-size: 40px"
  >
    <%= __('meta').firstH %>
  </h1>
  <form class="mx-auto lg:justify-center w-full lg:w-3/4 mt-8" id="urlForm">
    <div class="lg:justify-center lg:flex-row flex-col w-full flex gap-x-16">
      <div class="flex flex-col lg:w-3/5 w-full mb-4">
        <input
          type="text"
          name="site"
          id="site"
          class="bg-transparent text-white lg:pb-0 lg:border-none lg:border-transparent border-white border pb-4 font-bold mx-auto rounded-md w-[90%] lg:w-full outline-none p-3 placeholder:text-white placeholder:font-bold"
          placeholder="<%= __('meta').formPlaceholder %>"
        />
        <div class="w-[85%] bg-white lg:block hidden" style="height: 2px"></div>
      </div>
      <button
        type="submit"
        title="Send it!"
        class="lg:p-5 p-2 bg-blue-900 lg:h-auto mx-auto w-auto rounded-md transition-all hover:bg-gray-400 font-bold flex justify-center items-center lg:rounded-full"
      >
        <span class="lg:hidden inline mr-3 text-white">Envoyer</span>
        <i
          class="fa-solid fa-rocket hover:text-red-900 transition-all text-white self-end"
        ></i>
      </button>
    </div>
    <p id="submitMessage" class="text-white text-center my-2 font-bold"></p>
  </form>
  <p class="mt-12 text-center text-white mx-8 font-bold">
    <%= __('meta').secondH %>
  </p>
  <div class="mt-8 p-3 flex lg:gap-x-8 lg:grid lg:grid-cols-2 flex-col gap-y-6">
    <% promotions.forEach(prom => { %>
    <a href="<%= prom.link %>" id="promEl">
      <img
        src="<%= prom.file %>"
        class="mx-auto h-96 mb-4 w-full flex-none rounded-lg object-cover"
        alt=""
      />
    </a>
    <% }) %>
  </div>
  <section class="bg-transparent text-white">
    <div
      class="mx-auto max-w-screen-xl px-4 py-6 lg:flex lg:h-screen lg:items-center"
    >
      <div class="mx-auto max-w-3xl text-center">
        <h1
          class="bg-gradient-to-r from-orange-300 via-yellow-500 to-gray-300 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
          <%= __('meta').thirdH %>
          <span class="sm:block"> <%= __('meta').thirdHSec %> </span>
        </h1>

        <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
           <%= __('meta').thirdHDesc %>
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded hover:border hover:border-white bg-blue-900 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
            href="/promotion?reduction=5"
          >
            Promotion
          </a>

          <a
            class="block w-full rounded border border-white px-12 py-3 text-sm font-medium text-white hover:bg-blue-900 focus:outline-none focus:ring active:bg-blue-900 sm:w-auto"
            href="#"
          >
            Poster
          </a>
        </div>
      </div>
    </div>
  </section>

  <% if (popularActues.length > 0) { %>
  <h1
    class="bg-gradient-to-r from-orange-300 mb-3 text-center w-full via-yellow-500 to-gray-300 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
  >
    <%= __('meta').top %>
  </h1>
  <div class="w-auto flex p-2 my-1 overflow-x-scroll gap-x-3">
    <% if (typeof urls !== 'undefined' ) { %> <% urls.forEach(element => { %>
    <%- include('toplinks', {toplink: element}) %> <% }) %> <% } %>
  </div>
  <div class="w-auto flex overflow-x-scroll lg:h-[20rem] h-[25rem] p-3 gap-x-3">
    <% popularActues.forEach(actu => { %>
    <div
      id="commentXel"
      class="h-full border border-white lg:w-[60%] w-[85%] flex flex-col flex-none shadow-white rounded-lg lg:flex-row cursor-pointer hover:shadow-lg"
    >
      <% if (typeof actu.file !== 'undefined' && typeof actu.file === 'string' )
      { %>
      <img
        src="<%= actu.file %>"
        class="object-cover rounded-t-lg w-full lg:h-full lg:w-[65%] h-[70%]"
        alt=""
      />
      <% } %>
      <div
        class="w-full lg:h-full lg:w-[35%] h-[30%] text-white font-bold flex flex-col lg:gap-y-4 justify-center items-center p-3"
      >
        <p><%= actu.content %></p>
        <div class="relative flex gap-x-8 justify-between lg:top-4 left-4">
          <div class="flex gap-x-3 text-white">
            <div class="flex">
              <% actu.reactionsEls.forEach(el => { %> <%- el %> <% }) %>
            </div>
            #<%= actu.reactionsLength %>
          </div>
          <div class="flex">
            <i class="fa-solid fa-message fa-lg text-white mr-2"></i> <%=
            actu.commentsLength %>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>

  <% if (restActues.length > 0) { %>
   <h1
    class="bg-gradient-to-r my-3 from-orange-300 text-center w-full via-yellow-500 to-gray-300 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
  >
    <%= __('meta').likable %>
  </h1>
  <div class="lg:grid lg:grid-cols-3 mb-4 lg:gap-3 flex flex-col w-full p-2">
    <% restActues.forEach(actu => { %>
    <div
      id="commentEl"
      class="lg:w-full w-[95%] mx-auto mb-4 rounded-lg flex flex-col h-[25rem] border border-white cursor-pointer"
    >
      <% if (typeof actu.file !== 'undefined' && typeof actu.file === 'string' )
      { %>
      <img
        src="<%= actu.file %>"
        class="object-cover rounded-t-lg w-full h-[70%]"
        alt=""
      />
      <% } %>
      <div
        class="w-full h-[30%] text-white font-bold flex flex-col lg:gap-y-4 justify-center items-center p-3"
      >
        <p><%= actu.content %></p>
        <div class="relative flex gap-x-8 justify-between lg:top-4 left-4">
          <div class="flex gap-x-3 text-white">
            <div class="flex">
              <% actu.reactionsEls.forEach(el => { %> <%- el %> <% }) %>
            </div>
            #<%= actu.reactionsLength %>
          </div>
          <div class="flex">
            <i class="fa-solid fa-message fa-lg text-white mr-2"></i> #<%=
            actu.commentsLength %>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
  
  <%- include('footer', {linear: 'bg-gradient-to-tr', from: 'from-gray-900', to:
  'to-blue-500', text: 'text-white', title: 'text-gray-400'}) %>
</div>
<script type="module" src="/static/script/uploader.js"></script>
<script type="module" src="/static/script/actu.js"></script>
<%- include('script') %>
