<%- include('components/rawHeader.ejs', {title: title, desc: description}) %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/DoniLite/CSS@latest/md.css"
/>
<div class="markdown-content light-mode">
  <div class="markdown-content" id="parsedContent"><%- content %></div>
</div>
<% if ( typeof requestView !== 'undefined' && requestView === true ) { %>
<div class="max-w-[800px] p-3 bg-gray-950 mx-auto rounded-lg">
  <%- include('components/comment.ejs', {pointerType: 'post', pointer: id,
  replies: comments }) %>
</div>
<% } %>

<script
  type="module"
  src="https://cdn.jsdelivr.net/gh/DoniLite/CSS@latest/md.js"
></script>
<script type="module" src="/static/all.min.js"></script>
<script nonce="<%= locals.cspNonce %>">
  const rawHeaderNav = document.querySelector('#rawHeaderNav');
  const NavCloserBtn = document.querySelector('#NavCloserBtn');
  const rawHeadIcon = document.querySelector('#rawHeadIcon');

  NavCloserBtn.addEventListener('click', (e) => {
    e.preventDefault();
    rawHeaderNav.classList.add('translate-x-[200%]');
  });

  rawHeadIcon.addEventListener('click', (e) => {
    e.preventDefault();
    rawHeaderNav.classList.remove('translate-x-[200%]');
  });
</script>
<%- include('footer', {bg: 'bg-gray-950', text: 'text-white', title:
'text-gray-400'}) %>
