<%- include('components/rawHeader.ejs', {title: 'Ghostify | Poster', desc: 'Poster is a toolkit for articles redaction and document conversion'}) %>
<input type="hidden" name="index" value="<%= id %>" id="sessionIndex" />
<input type="hidden" name="userId" value="<%= data.id %>" id="userIdInput">

<div class="w-full mt-28" id="posterComponent">
  <form action="" id="posterForm">
    <input type="file" name="file" class=" hidden" id="file_<%= id %>" />
    <div
      class="poster-hidden transition-transform fixed top-2 right-0 h-1/2 w-40"
      id="actionComponent"
    >
      <ul
        class="h-full flex flex-col gap-5 justify-center items-center rounded-md bg-gradient-to-tr from-transparent via-gray-700 to-gray-950 text-white"
      >
        <li
          id="requestFile"
          class="flex gap-x-3 font-bold cursor-pointer hover:text-xl transition-all hover:text-orange-400"
        >
          <i class="fa-solid fa-file-image fa-lg"></i> image
        </li>
        <li
          id="requestList"
          class="flex gap-x-3 font-bold cursor-pointer hover:text-xl transition-all hover:text-orange-400"
        >
          <i class="fa-solid fa-list fa-lg"></i> list
        </li>
        <li
          id="requestSetionBtn"
          class="flex gap-x-3 font-bold cursor-pointer hover:text-xl transition-all hover:text-orange-400"
        >
          <i class="fa-solid fa-hashtag fa-lg"></i> Section
        </li>
        <li
          id="saveDocument"
          class="flex gap-x-3 font-bold cursor-pointer hover:text-xl transition-all hover:text-orange-400"
        >
          <button type="submit">
            <i class="fa-regular fa-folder-open fa-lg"></i> Save
          </button>
        </li>
        <li
          id="abortBtn"
          class="flex gap-x-3 font-bold cursor-pointer hover:text-xl transition-all hover:text-orange-400 items-center"
        >
          <i class="fa-solid fa-circle-xmark"></i> Abort
        </li>
      </ul>
    </div>
    <div id="action">
      <i
        class="fa-solid fa-link fa-2xl text-white font-bold rounded-full shadow-xl bg-orange-400 p-2 cursor-pointer fixed top-1/2 right-7"
      ></i>
    </div>
    <a href="#navHead" id="up" class="transition-all delay-500">
      <i
        class="fa-solid fa-angles-up fa-lg p-4 bg-orange-400 rounded-full text-white cursor-pointer fixed lg:left-7 lg:bottom-7 left-1 bottom-1"
      ></i>
    </a>
    <%- include('components/posterHeader.ejs') %> 
    <%- include('components/section.ejs') %>
  </form>
</div>
<script type="module" src="/static/script/poster.js" defer></script>
<%- include('components/rawFooter.ejs') %>
