<%- include('header', {title: 'Ghostify | Projects', desc: 'Find an open source project to contribute or to support. Here are a community resources for all techies'}) %>
<div id="container" class="w-full  bg-emerald-900">
  <div class="flex mx-auto lg:w-3/4 w-full justify-center">
    <div class="card mt-36 border border-white">
      <div class="lg:w-3/4 w-full">
        <p class="text-white font-bold p-2">
          <%= __('project').title %>
        </p>
        <div class="flex p-2 border border-red-600 text-white bg-red-400">
          <i class="fa-solid fa-triangle-exclamation mr-4"></i>
          <p>
            <%= __('project').notice %>
          </p>
        </div>
      </div>
     <a href="https://github.com/DoniLite/" class=" text-center">
       <i class="fa-brands fa-github fa-2xl text-white mr-8"></i>
     </a>
    </div>
  </div>
  <div class="lg:grid lg:w-3/4 w-full mx-auto mt-12 gap-3 mb-10" style="grid-template-columns: 75% 20%">
  <% projects.forEach(project => { %>
    <div class="card">
      <div class="w-full flex flex-col">
        <div class="flex font-bold w-full p-3 justify-between text-green-300">
          <div>
            <i class="fa-solid fa-diagram-project mr-3"></i>
            <a href="#"><%= project.title %></a>
            <div>
              <i class="fa-solid fa-scale-balanced"></i>
              <small><%= project.license %></small>
            </div>
          </div>
          <div class=" flex gap-x-4 text-green-300">
            <% if (project.github) { %>
            <a href="<%= project.github %>">
              <i class="fa-brands fa-github"></i>
            </a>
            <% } %>
            <% if (project.gitlab) { %>
            <a href="<%= project.gitlab %>">
              <i class="fa-brands fa-gitlab"></i>
            </a>
            <% } %>
            <% if (project.bitbucket) { %>
            <a href="<%= project.bitbucket %>">
              <i class="fa-brands fa-bitbucket"></i>
            </a>
            <% } %>
          </div>
        </div>
        <div class="text-white font-bold text-sm">
          <p>
            <%= project.description %>
          </p>
        </div>
      </div>
    </div>
    <div class=" flex justify-center items-center w-full mt-6">
      <div>
      <%# Personnaliser cette partie de l'interface en fonction des nouvelles données. %>
      <b class="text-white">Check it Now</b>
      <div class="w-full flex items-center mt-4 text-white">
        <div class="flex">
          <% if (project.participationType === 'Collaboration') { %>
            <i class="fa-solid fa-folder-tree"></i>
          <% } else if (project.participationType === 'Free') { %>
            <i class="fa-regular fa-heart"></i>
          <% } else if (project.participationType === 'Subscription') { %>
            <i class="fa-solid fa-tag"></i>
          <% } else { %>
            <i class="fa-solid fa-question"></i>
          <% } %>
          <p class="ml-3">
            <a href="<%= project.link %>">
              <%= project.participation %>
            </a>
          </p>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
</div>
  <%- include('footer', { bg: 'bg-emerald-900', text: 'text-white', title: 'text-green-300',}) %>
</div>
<%- include('script') %>