<div id="container" class="w-full overflow-y-scroll" style="height: 100vh">
  <%- include('decor1') %>
  <div class="lg:absolute lg:mt-0 mt-96 bottom-36 w-full">
   
     <div class="gap-6 flex lg:flex-row flex-col items-center w-4/5 mx-auto">
      <!-- <h1
        class="time-check text-red-950 font-bold lg:text-5xl text-3xl flex-none lg:relative lg:top-6 pacifico-regular"
      ></h1> -->
      <% if (typeof quote !== 'undefined') { %>
        <div class="p-3">
          <p class="text-red-950 font-bold text-2xl cookie-regular">
            <span class="text-red-950 font-bold text-9xl relative top-12 right-4 italic"
              >"</span
            >
            <%= quote.content %>
          </p>
          <p class="text-red-950 font-bold text-2xl font-mono italic mt-2">
            <%= quote.author %>
          </p>
        </div>
      <% } else { %>
        <!-- <p class=" font-bold text-center text-xl text-red-950 pb-4">Bienvenue à vous visiteur... Je me nomme Yao Messan #DoniLite et j'ai programmé ce site web afin qu'il me serve de portfolio et de vitrine professionel à travers lequel je partages mon savoir faire</p> -->
      <% } %>
    </div>
  </div>
  <% if (typeof weatherData !== 'undefined') { %>
   <div class="text-red-950 pacifico-regular font-bold lg:absolute lg:right-20 lg:top-36 lg:w-1/5 -z-20">
    <div class="flex w-full p-3 justify-between items-center">
      <img
        src="<%= weatherData.flag %>"
        alt="country flag"
        class="w-12 h-8 rounded"
      />
      <p class="text-2xl"><%= weatherData.city %></p>
    </div>
    <div class="flex w-full p-3 justify-between items-center">
      <img
        src="https://raw.githubusercontent.com/visualcrossing/WeatherIcons/main/PNG/1st%20Set%20-%20Color/<%= weatherData.icon %>.png"
        class="w-12 h-12"
        alt=""
      />
      <p class="text-xl"><%= weatherData.conditions %></p>
    </div>
    <div class="flex w-full p-3 justify-between items-center">
      <div class="flex gap-4">
        <i class="fa-solid fa-temperature-low text-3xl"></i>
        <p class="text-xl">Min <%= weatherData.tempmin %></p>
      </div>
      <div class="flex gap-4">
        <i class="fa-solid fa-temperature-high text-3xl"></i>
        <p class="text-xl">Max <%= weatherData.tempmax %></p>
      </div>
    </div> 
  </div>
  <% } %>
  <div class="lg:absolute lg:bottom-3 lg:flex hidden gap-6 mt-20 lg:mt-0 pl-4 lg:pl-0 lg:right-12">
    <p class="font-bold text-white">By :</p>
    <img src="/static/img/ts.jpg" class="w-10 h-10" alt="type script image" />
    <img
      src="/static/img/tailwind.jpeg"
      class="w-10 h-10"
      alt="tailwind image"
    />
    <img
      src="/static/img/fastify-white.svg"
      class="w-16 h-16"
      alt="fastify image"
    />
  </div>
</div>